@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    /* background-color: rgb(245, 245, 247); */
    /* overflow-x: hidden;  */
    /* 
    */
    padding: 0;
    margin: 0;
    font-family: 'Poppins','Source Sans Pro',sans-serif;
}

.body {
    background-color: rgba(0, 0,0,.0.3 );
}
